.link:hover, .link:focus, .adress-header:hover, .adress-header:focus, .customer-icon:hover,
.customer-icon:focus, .backdrop, .modal-icon-close:hover, .modal-icon-close:focus, .icon-social:hover, .icon-social:focus, .social-footer .icon-social:hover, .social-footer .icon-social:focus, .project-blocks .item:hover .full-text-item,
.project-blocks .item:focus .full-text-item, .project-container .item .item:hover,
.project-container .item .item:focus, .full-text-item, .filter-button:hover, .filter-button:focus, .button:hover, .button:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus-within, .input-form:not(:placeholder-shown) ~ .label-form,
.input-form:focus ~ .label-form, .input-form:focus ~ .form-icon {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform, 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-transform;
}

/* Basic */
a {
  text-decoration: none;
}

img {
  display: block;
}

/* Body */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

/* Logo */
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/* Header */
.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover, .link:focus {
  color: #2196f3;
  cursor: pointer;
}

.current {
  color: #2196f3;
}

.current:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.adress-header {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.adress-header:hover, .adress-header:focus {
  color: #2196f3;
}

.address-mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.address-phone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .item {
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.top-nav {
  margin-left: 85px;
}

.address-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.address-nav .item + .item {
  margin-left: 30px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

/* Hero */
.hero-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-bg {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Features */
.no-padding {
  padding-bottom: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .item {
  width: 270px;
}

.features .item + .item {
  margin-left: 30px;
}

.features-top {
  display: block;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  text-align: center;
  border-radius: 4px;
}

.features-top .icon {
  width: 70px;
  height: 70px;
}

.title-text {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
}

/* Skills */
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .item + .item {
  margin-left: 30px;
}

.skills .item {
  width: 370px;
  position: relative;
}

.name-capabilities {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Team */
.section.bacground {
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .item + .item {
  margin-left: 30px;
}

.team > .item {
  width: 270px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Customer */
.customer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid;
  color: #afb1b8;
  border-radius: 4px;
}

.customer-icon:hover,
.customer-icon:focus {
  border: 1px solid;
  color: #2196f3;
  cursor: pointer;
}

.customer-icon .icon {
  fill: currentColor;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers .item + .item {
  margin-left: 30px;
}

/* Footer */
.footer {
  background-color: #2f303a;
  color: #ffffff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-container {
  margin-right: 69px;
  width: 230px;
}

.logo-cont {
  margin-top: 45px;
  margin-bottom: 20px;
}

.list.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 28px;
}

.address .item {
  margin-bottom: 9px;
}

.address .item:last-child {
  margin-bottom: 0;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.connect {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-right: 94px;
  width: 210px;
}

.subscribe {
  width: 570px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.develop {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 18px;
  padding-bottom: 21px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-subscribe {
  width: 360px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.develop-container {
  display: block;
  text-align: center;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.modal > h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.close-bt {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-icon-close {
  fill: black;
}

.modal-icon-close:hover, .modal-icon-close:focus {
  fill: #2196f3;
  cursor: pointer;
}

.form {
  width: 100%;
}

.field-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field-form + .field-form {
  margin-top: 28px;
}

.input-form {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input-form:focus-within {
  outline: none;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.input-form:not(:placeholder-shown) ~ .label-form,
.input-form:focus ~ .label-form {
  -webkit-transform: translateY(-37px) translateX(13px);
          transform: translateY(-37px) translateX(13px);
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2196f3;
  cursor: pointer;
}

.input-form.input-comment {
  min-height: 120px;
  resize: vertical;
}

.form-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
}

.input-form:focus ~ .form-icon {
  fill: #2196f3;
  cursor: pointer;
}

.label-form {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(42px);
          transform: translateY(-50%) translateX(42px);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.label-form.label-comment {
  top: 20px;
  -webkit-transform: translateY(-50%) translateX(16px);
          transform: translateY(-50%) translateX(16px);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.checkbox-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.checkbox-label a {
  text-decoration: underline;
  color: #2196f3;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  fill: none;
  cursor: pointer;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-input ~ .checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
}

.checkbox-input:checked ~ .checkbox-label::before,
.checkbox-input:checked ~ .icon-checkbox {
  background-color: #2196f3;
  fill: #ffffff;
  border-color: transparent;
  border-radius: 2px;
}

/* SocialIcon  */
.icon-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.icon-social:hover, .icon-social:focus {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
  margin-left: 32px;
  padding-bottom: 20px;
}

.social .item + .item {
  margin-left: 10px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer .item + .item {
  margin-left: 10px;
}

.social-footer .icon-social {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-footer .icon-social:hover, .social-footer .icon-social:focus {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

/* Portfolio */
.project-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.project-container {
  width: 370px;
  margin: 15px;
  border: 1px solid #eeeeee;
  position: relative;
  top: 0;
}

.project-blocks .item:hover .full-text-item,
.project-blocks .item:focus .full-text-item {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project-container .item {
  display: block;
}

.project-container .item .item:hover,
.project-container .item .item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.img-block {
  display: block;
}

.full-text-item {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0px;
}

.card-name {
  padding: 20px 24px;
}

.title-font {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.filter-name {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  padding: 0;
  margin: 0;
}

/* Filters */
.filter-button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
}

.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.filter-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.filter-button-block .item + .item {
  margin-left: 8px;
}

.current-button {
  color: #ffffff;
  background-color: #2196f3;
}

/* Button */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button:hover, .button:focus {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.subscribe .button {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: auto;
}

.button .icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */