/* Body */

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background-color: $white-color;
	color: $primary-text-color;
	font-family: $bodyBaseFont;
	letter-spacing: 0.03em;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: $mobile) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) {
		width: $tablet;
	}

	@media screen and (min-width: $desctop) {
		width: $desctop;
	}
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	color: $title-text-color;

	@include font(bold, 36px, 1.17);
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}
