/* Features */

.no-padding {
	padding-bottom: 0;
}

.features {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	& .item {
		@media screen and (min-width: $tablet) {
			width: calc((100% - 4 * 15px) / 2);
			margin: 15px;
		}

		@media screen and (min-width: $desctop) {
			width: calc((100% - 8 * 15px) / 4);
			margin: 15px;
		}
	}

	@media screen and(max-width: $tablet - 1px) {
		& .item:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

.features-top {
	display: block;
	height: 120px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $second-bg-color;
	text-align: center;
	border-radius: 4px;

	& .icon {
		width: 70px;
		height: 70px;
	}
}

.title-text {
	color: $title-text-color;
	@include font(bold, 14px, 1.14);
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 10px;

	@media screen and (max-width: $tablet - 1px) {
		text-align: center;
	}
}

.item-text {
	@include font(normal, 14px, 1.71);

	margin-top: 0;
	margin-bottom: 0;
}
