/* Footer */
footer {
	background-color: $footer-bg-color;
}

.footer {
	color: $white-color;
	text-align: center;

	@media screen and(min-width:$tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}
	@media screen and(min-width:$desctop) {
		text-align: start;
	}

	& b {
		display: block;
		@include font(bold, 14px, 1.14);
		text-transform: uppercase;
	}
}

.address-container {
	@media screen and(min-width:$tablet) and(max-width:$desctop - 1px) {
		flex-basis: 50%;
	}
}

.list.address {
	font-style: normal;
	@include font(normal, 14px, 1.71);
}

.address .item {
	margin-bottom: 9px;
	&:last-child {
		margin-bottom: 0;
	}
}

.logo-cont {
	margin-bottom: 20px;
}

.footer-contact {
	color: $footer-adress-color;
	font-style: normal;
	@include font(normal, 14px, 1.71);
}

.connect {
	@media screen and(min-width:$tablet) and(max-width:$desctop - 1px) {
		flex-basis: 50%;
		margin-top: 0;
		margin-bottom: 0;
	}

	@media screen and(max-width: $tablet - 1px) {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.subscribe {
	@media screen and(min-width:$tablet) and(max-width:$desctop - 1px) {
		flex-basis: 100%;
		margin-top: 60px;
		margin-bottom: 0;
	}
	// display: flex;
	// align-items: center;
	// justify-content: center;
	& b {
		@include font(bold, 14px, 1.14);
		text-transform: uppercase;
	}
}

.subscribe-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	@media screen and(min-width:$desctop) {
		align-items: baseline;
		flex-direction: row;
	}
}

.footer-subscribe {
	width: 100%;
	margin-top: 20px;
	height: 50px;
	padding-left: 16px;
	@media screen and (max-width: $desctop - 1px) and (min-width: $tablet) {
		width: 450px;
	}
	@media screen and(max-width: $desctop - 1px) {
		margin-bottom: 20px;
	}

	@media screen and (min-width: $desctop) {
		margin-right: 12px;
		width: 360px;
	}

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: inherit;

	@include font(normal, 16px, 20px);
	letter-spacing: 0.03em;

	color: $footer-adress-color;
}

// .footer-container {
// 	margin-left: auto;
// 	margin-right: auto;
// 	text-align: center;

// 	@media screen and (min-width: $tablet) {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: space-between;
// 		width: 600px;
// 	}

// 	@media screen and(min-width: $desctop) {
// 		width: $desctop;
// 		flex-wrap: wrap;
// 		align-items: baseline;
// 		text-align: left;
// 	}
// }

// .subscribe .button {
// 	margin-right: auto;
// 	margin-left: auto;
// }
