/* Footer */

.footer {
	background-color: $footer-bg-color;
	color: $white-color;
}

.footer-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 600px;
	}

	@media screen and(min-width: $desctop) {
		width: $desctop;
		flex-wrap: wrap;
		align-items: baseline;
		text-align: left;
	}
}

.address-container {
	@media screen and(max-width: $desctop - 1px) {
		margin-bottom: 60px;
	}
}

.logo-cont {
	margin-bottom: 20px;
}

.list.address {
	font-style: normal;
	@include font(normal, 14px, 1.71);
}

.address .item {
	margin-bottom: 9px;
	&:last-child {
		margin-bottom: 0;
	}
}

.footer-contact {
	color: $footer-adress-color;
	font-style: normal;
	@include font(normal, 14px, 1.71);
}

.connect {
	@include font(bold, 14px, 1.14);
	text-transform: uppercase;
	@media screen and(max-width: $desctop - 1px) {
		margin-bottom: 60px;
	}
}

.subscribe {
	@include font(bold, 14px, 1.14);
	text-transform: uppercase;
}

.subscribe-form {
	@include centerFlex($align-items: baseline);
	flex-wrap: wrap;
}

.footer-subscribe {
	width: 450px;
	margin-top: 20px;
	height: 50px;
	@media screen and(max-width: $desctop - 1px) {
		margin-bottom: 20px;
	}
	margin-right: 12px;
	padding-left: 16px;

	@media screen and (min-width: $desctop) {
		width: 360px;
	}

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: inherit;

	@include font(normal, 16px, 20px);
	letter-spacing: 0.03em;

	color: $footer-adress-color;
}

.subscribe .button {
	margin-right: auto;
	margin-left: auto;
}
