/* Header */

.link {
	color: $title-text-color;
	@include font(500, 14px, 1.14);
	letter-spacing: 0.02em;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	&:hover,
	&:focus {
		color: $accent-color;
		cursor: pointer;
		@extend %Transition;
	}
}

.current {
	color: $accent-color;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background-color: $accent-color;
	}
}

.adress-header {
	color: $primary-text-color;
	@include font(500, 14px, 1.14);
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;

	&:hover,
	&:focus {
		color: $accent-color;
		@extend %Transition;
	}
}

.address-mail-icon {
	width: 16px;
	height: 12px;
	margin-right: 10px;
	fill: currentColor;
	vertical-align: middle;
}

.address-phone-icon {
	width: 10px;
	height: 15px;
	margin-right: 10px;
	fill: currentColor;
	vertical-align: middle;
}

.site-nav {
	@include centerFlex;

	& .item {
		position: relative;
	}

	& .item + .item {
		margin-left: 50px;
	}
}

.top-nav {
	margin-left: 85px;
}

.address-nav {
	@include centerFlex;
	margin-left: auto;

	& .item + .item {
		margin-left: 30px;
	}
}

.header-nav {
	@include centerFlex;
	border-bottom: 1px solid #ececec;
}
