/* Hero */
.hero-title {
	color: $white-color;
	@include font(900, 26px, 1.66);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;

	@media screen and(min-width:$desctop) {
		@include font(900, 44px, 1.36);
	}
}

.hero {
	@include centerFlex;
	flex-wrap: wrap;
	padding-top: 118px;
	padding-bottom: 118px;
	margin-left: auto;
	margin-right: auto;
	width: 360px;

	@media screen and(min-width:$desctop) {
		width: 700px;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero-bg {
	max-width: 1600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/header_mob.jpg);
	@media screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/header_mob@2x.jpg);
	}

	@media screen and (min-width: $tablet) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/header_tab.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
				url(../../images/header_tab@2x.jpg);
		}
	}

	@media screen and (min-width: $desctop) {
		min-height: 600px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/header_desk.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
				url(../../images/header_desk@2x.jpg);
		}
	}

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
