/* Modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.2);
	opacity: 1;
	@extend %Transition;

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	min-height: 581px;
	background-color: $white-color;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;

	& > h2 {
		margin-top: 40px;
		margin-bottom: 30px;
		@include font(bold, 20px, 23px);
		text-align: center;
		letter-spacing: 0.03em;
		color: $title-text-color;
	}
}

.close-bt {
	position: absolute;
	top: 8px;
	right: 8px;
	@include centerFlex;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.modal-icon-close {
	fill: black;

	&:hover,
	&:focus {
		fill: $accent-color;
		@extend %Transition;
		cursor: pointer;
	}
}

.form {
	width: 100%;
}

.field-form {
	position: relative;
	@include centerFlex($justify-content: flex-start, $align-items: stretch);
	flex-direction: column;

	& + .field-form {
		margin-top: 28px;
	}
}

.input-form {
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	&:focus-within {
		outline: none;
		border: 1px solid $accent-color;
		@extend %TransitionTransform;
		cursor: pointer;
	}

	&:not(:placeholder-shown) ~ .label-form,
	&:focus ~ .label-form {
		transform: translateY(-35px) translateX(26px);
		@include font(normal, 12px, 14px);
		color: $accent-color;
		@extend %TransitionTransform;
		cursor: pointer;
	}
}

.form-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;

	.input-form:focus ~ & {
		fill: $accent-color;
		@extend %TransitionTransform;
		cursor: pointer;
	}
}

.label-form {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) translateX(42px);
	@include font(normal, 14px, 16px);
	letter-spacing: 0.01em;
}

.comment {
	resize: vertical;
	width: 100%;
	min-height: 120px;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 16px;
	@include font(normal, 14px, 16px);
	letter-spacing: 0.01em;
}

.modal-button {
	@include centerFlex;
	margin-bottom: 40px;
}

.checkbox-container {
	margin-top: 20px;
	margin-bottom: 30px;
}

.checkbox-label {
	display: inline-flex;
	align-items: center;
	@include font(normal, 14px, 24px);
	letter-spacing: 0.03em;

	& a {
		text-decoration: underline;
		color: $accent-color;
	}
}

.checkbox {
	display: inline-flex;
	align-items: center;
}

.icon-checkbox {
	position: absolute;
	width: 16px;
	height: 16px;
	fill: none;
}

.checkbox-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;

	& ~ .checkbox-label::before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border: 2px solid $title-text-color;
		border-radius: 2px;
		margin-right: 9px;
	}

	&:checked ~ .checkbox-label::before,
	&:checked ~ .icon-checkbox {
		background-color: $accent-color;
		fill: $white-color;
		border-color: transparent;
		border-radius: 2px;
	}
}
