/* SocialIcon  */

.icon-social {
	@include centerFlex($display: inline-flex);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	fill: #afb1b8;

	&:hover,
	&:focus {
		fill: $white-color;
		background-color: $accent-color;
		cursor: pointer;
		@extend %Transition;
	}
}

.social {
	@include centerFlex;
	margin-right: 32px;
	margin-left: 32px;
	padding-bottom: 20px;

	& .item + .item {
		margin-left: 10px;
	}
}

.social-footer {
	@include centerFlex;

	& .item + .item {
		margin-left: 10px;
	}

	& .icon-social {
		margin-top: 20px;
		background-color: rgba(255, 255, 255, 0.1);
		fill: $white-color;

		&:hover,
		&:focus {
			fill: $white-color;
			background-color: $accent-color;
			cursor: pointer;
			@extend %Transition;
		}
	}
}
