$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-color: #000000;
$white-color: #ffffff;
$second-bg-color: #f5f4fa;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$developed-color: rgba(255, 255, 255, 0.4);
$button-bg-color: #f5f4fa;
$text-bg-color: rgba(33, 150, 243, 0.9);
